.createAccountClass {
    background: rgba(255, 255, 255, .7);
    width: 40vw;
    padding: 5vh 2vw;
    position: fixed;
    top: calc(50% - 17vh);
    left: calc(50% - 20vw);

}

h1, h2 {
    text-align: center;
}