.column {
    border: 1px solid white;
    width: 9%;
    height: 9%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.MapClass {
    background: url('../../assets/bg.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.villageImg {
    width: 100%;
}

.villagePosition {
    border: 2px black solid;
}

.row {
    color: white;
    width: 610px;
    height: 610px;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}